.button {
   border-top: 1px solid #96d1f8;
   background: #77a7c7;
   background: -webkit-gradient(linear, left top, left bottom, from(#254459), to(#77a7c7));
   background: -webkit-linear-gradient(top, #254459, #77a7c7);
   background: -moz-linear-gradient(top, #254459, #77a7c7);
   background: -ms-linear-gradient(top, #254459, #77a7c7);
   background: -o-linear-gradient(top, #254459, #77a7c7);
   padding: 0px 14px 0px 14px;
   margin: 1px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 16px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: bottom;
   }
.button:hover {
   border-top-color: #1e2757;
   background: #1e2757;
   color: #ffffff;
   cursor: pointer;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
canvas {
   position:absolute;
   left:0px;
   top:0px;
}
